@font-face {
  font-family: "mai-icons";
  src: url("../fonts/mai-icons.eot?7k0ses");
  src: url("../fonts/mai-icons.eot?7k0ses#iefix") format("embedded-opentype"),
    url("../fonts/mai-icons.ttf?7k0ses") format("truetype"),
    url("../fonts/mai-icons.woff?7k0ses") format("woff"),
    url("../fonts/mai-icons.svg?7k0ses#mai-icons") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="mai-"],
[class*=" mai-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "mai-icons" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mai-times:before {
  content: "\e900";
}
.mai-search:before {
  content: "\e901";
}
.mai-menu:before {
  content: "\e902";
}
.mai-pound:before {
  content: "\e903";
}
.mai-lock:before {
  content: "\e904";
}
.mai-chevron:before {
  content: "\e905";
}
.mai-user:before {
  content: "\e906";
}
.mai-home:before {
  content: "\e907";
}
