// Topelevel Accordian (wrapper)

.Accordion {
  position: absolute;
  top: 59px;
  bottom: 0;
  left: 0;
  right: 0;
  //
  overflow: scroll;
  scrollbar-width: none;
  //
  padding: 2px 10px 10px 10px;
}

// Sub level accordian - actual accordion

// .accordionX {
//   position: relative;
//   flex-grow: 1;
//   padding: 2px 10px 10px 10px;
//   overflow: scroll;
//   width: 100%;
//   scrollbar-width: none;
// }

.Accordion::-webkit-scrollbar {
  display: none;
}

//////////////////////////////////////////////////////////////////////////////////

// Side-Menu ItemStyling

//////////////////////////////////////////////////////////////////////////////////

// space each item
[class*="level-"] {
  margin: 10px 0;
}

// except for each contents last (do prevent doubling up with parents next sibling)
[class*="level-"]:last-child {
  margin-bottom: 0;
}

.Item.content {
  border-radius: 10px;
}

//////////////////////////////////////////////////////////////////////////////////

// ItemContents Transitions

//////////////////////////////////////////////////////////////////////////////////

// Ensure this rule is no more specific than (and is declared before) .transitioning (v important!)
.Item > .content {
  overflow: hidden;
  display: none;
  margin-left: -10px;
  margin-right: -10px;
  padding: 0 10px;
}

.Item.open > .content {
  display: block;
}

.Item.transitioning > .content {
  transition: height 0.3s cubic-bezier(0.47, 1.64, 0.41, 0.8);
  display: block;
}
