.accordion {
  position: relative;
  flex-grow: 1;
  // margin-top: 20px;
  padding: 2px 10px 10px 10px;
  overflow: scroll;
  //top: 0px;
  //bottom: 0;
  width: 100%;
}

.accordion::-webkit-scrollbar {
  display: none;
}

//////////////////////////////////////////////////////////////////////////////////

// Side-Menu Item Styling

//////////////////////////////////////////////////////////////////////////////////

// space each item
[class*="tier-"] {
  margin: 10px 0;
}

// except for each contents last (do prevent doubling up with parents next sibling)
[class*="tier-"]:last-child {
  margin-bottom: 0;
}

.item-name {
  height: var(--height-primary);
  overflow: hidden;
  // give all elements same border thickness for layout consistency (default set to transparent)
  // border: 1px solid rgba(0, 0, 0, 0); extracted
  // maybe move to separate style
  cursor: pointer;
  border: 1px solid (var(--color-item-border));
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.267);
}

//////////////////////////////////////////////////////////////////////////////////

// Item Contents Transitions

//////////////////////////////////////////////////////////////////////////////////

// ensure this rule is no more specific than (and is decalred before) .transitioning (v important)
.item > .content {
  overflow: hidden;
  display: none;
}

.open > .content {
  display: block;
}

.item > .transitioning {
  transition: height 0.3s cubic-bezier(0.47, 1.64, 0.41, 0.8);
  display: block;
}

//////////////////////////////////////////////////////////////////////////////////

// Item Tier styles

//////////////////////////////////////////////////////////////////////////////////

.tier-1 > .item-name {
  background-color: var(--color-bg-tier1);
  color: var(--color-f-tier1);
  // border-color: #8aa5ac;
  // box-shadow: 0 0 5px rgba(0, 0, 0, 0.267); // causes subtle glitch during accord collapse
}

.tier-1 > .item-name > .icon:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.267);
}

.tier-2 > .item-name {
  background-color: var(--color-bg-tier2);
  color: var(--color-f-tier2);
  // border-color: #acced6;
  // box-shadow: 0 0 5px rgba(0, 0, 0, 0.267); // causes subtle glitch during accord collapse
}

.tier-3 > .item-name {
  background-color: var(--color-bg-tier3);
  color: var(--color-f-tier3);
  // border-color: #acced6;
  // box-shadow: 0 0 5px rgba(0, 0, 0, 0.267); // causes subtle glitch during accord collapse
}

//////////////////////////////////////////////////////////////////////////////////

// Chevron Styles and Transitions

//////////////////////////////////////////////////////////////////////////////////

.rot90 {
  transition: transform 0.07s linear;
}

.open > * > .rot90 {
  transform: rotate(90deg);
  transition: transform 0.07s linear;
}

// recenter to more intuitive center (always rotate parent container)
.mai-chevron {
  transform: translateX(15%);
}
