// CARD COMPONENT CSS

.card {
  border-radius: 10px;
  background-color: white;
  overflow: hidden;
  box-shadow: var(--shad-lighter);
  border: 1px solid (var(--color-menu-border));
  //
  // margin: 20px; // not needed
  margin-bottom: 0px;
  min-width: fit-content;
  flex-grow: 1;
  display: inline-block;
  height: fit-content;
}

// CARD SECTION COMPONENT

.headerStrip {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px 10px 20px;
  background-color: #e8f4f5;
  border-top: 1px solid #d2e7e8;
  border-bottom: 1px solid #d2e7e8;
}

section:first-child .headerStrip {
  border-top: none;
}

.headerStrip h1 {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  color: #1a98a1;
  font-weight: bold;
  height: 35px;
}

.headerStrip button:last-child,
.headerStrip .Icon:last-child {
  margin-right: -10px;
}

// SUB AREAS - OF A CARD

.card .content {
  color: var(--color-v-dark-grey);
  padding: 16px;
}
