// CARD COMPONENT CSS

.card {
  border-radius: 10px;
  background-color: white;
  overflow: hidden;
  margin-bottom: 20px;
  box-shadow: var(--shad-lighter);
  border: 1px solid (var(--color-grey-dark1));
}

.card:last-child {
  margin-bottom: 0;
}

// CARD SECTION COMPONENT

.card .section .strip {
  display: flex;
  padding: 10px 10px 10px 20px;
  background-color: #e8f4f5;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #d2e7e8;
  border-bottom: 1px solid #d2e7e8;
}

.card .section:first-child .strip {
  border-top: none;
}

.card .section .title {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  color: #1a98a1;
  font-weight: bold;
  height: 35px;
}

// SUB AREAS - OF A CARD

.card .section .content {
  padding-top: 10px;
  // line-height: 23px; // this broke table header
  color: var(--color-v-dark-grey);
  padding: 16px;
}
