// CARD COMPONENT CSS

.card {
  border-radius: 10px;
  background-color: white;
  overflow: hidden;
  margin-bottom: 20px;
  box-shadow: var(--shad-lighter);
}

.card:last-child {
  margin-bottom: 0;
}

// CARD SECTION COMPONENT

.card .section .title {
  font-size: 1.4rem;
  background-color: #e8f4f5;
  padding: 20px;
  color: #1a98a1;
  font-weight: bold;
}

// SUB AREAS - OF A CARD

.card .section .content {
  padding-top: 10px;
  // line-height: 23px; // this broke table header
  color: #1a98a1;
  padding: 8px;
}

.card .section .group {
  background-color: rgb(243, 243, 243);
  margin-bottom: 16px;
  border-radius: 5px;
  padding: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  display: block;
}

.card .section .group:last-child {
  margin-bottom: 0;
}

.card .section .group2 {
  flex-grow: 1;
  padding: 8px;
}

.card .section form {
  display: flex;
  justify-content: space-between;
}
