.DropDown {
  border-radius: 10px;
  background-color: white;
  width: 150px;
  position: absolute;
  right: 0px;
  margin-top: 6px;
  box-shadow: var(--shad-lighter);
  overflow: hidden;
  display: none;
  border: 1px solid (var(--color-grey-dark1));
}

.profile-wrapper.open .drop-down {
  display: block;
}

.drop-down li {
  padding: 10px;
}
.drop-down li:not(.header):hover {
  background-color: rgb(247, 247, 247);
}

.drop-down li.logout:hover {
  border-top: 1px solid var(--color-grey-lighter5);
}

.drop-down li.header {
  border-bottom: 1px solid #deedee;
}

.drop-down li.logout {
  border-top: 1px solid #deedee;
  background-color: var(--color-bg-light);
}
