.pageSize {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px;
  border-radius: 3px;
}

.pageSize .wrapper {
  display: inline-grid;
  align-items: center;
  // border: 1px solid var(--color-dark-grey);

  margin-right: 5px;
  // padding: 5px;

  &::after,
  input {
    box-sizing: border-box;
    grid-area: 1 / 1;
    border: none;
    font: inherit; // needed otherwise extra width added to end of input box
    padding: 5px;
    border-radius: 5px;
    color: var(--color-v-dark-grey);
    border: 1px solid var(--color-dark-grey);
    text-align: center;
  }
  &::after {
    content: attr(data-value); // need to fix
    visibility: hidden;
    white-space: pre-wrap; // stops the content disappearing slightly off sides
  }
}

.pageSize input:focus {
  outline: none;
}
