.pageSize {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px;
  border-radius: 3px;
}

.pageSize .growingInput {
  display: inline-grid;
  align-items: center;
  margin-right: 5px;

  &::after,
  input {
    grid-area: 1 / 1;
    padding: 5px;
    border: 1px solid var(--color-dark-grey);
  }

  input {
    color: var(--color-v-dark-grey);
    border-radius: 5px;
    text-align: center;
  }

  &::after {
    content: attr(data-value); // key to enabling the growing (invisibly non-input element)
    visibility: hidden;
    white-space: pre-wrap; // stops the content disappearing slightly off sides
  }
}

.pageSize input:focus {
  outline: none;
}
