.Main {
  display: flex;
  position: relative;
  top: 0;
  z-index: 999;
  user-select: none;
  height: 100vh;
}

.accordionSide {
  opacity: 0;
  position: fixed;
  width: 20px;
  height: 100%;
  cursor: pointer;
}
