.page {
  // border: 3px solid red;
  // padding: 20px;
  display: flex;
  flex-grow: 1;
  margin-top: 58px;
  padding-bottom: 50px;
  //
  overflow-x: scroll;
}

// .page::-webkit-scrollbar {
//   width: 8px;
//   height: 8px;
// }

// .page::-webkit-scrollbar-thumb {
//   background-color: rgb(218, 218, 218);
//   border-radius: 4px;
// }

.page::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

.page::-webkit-scrollbar-thumb {
  background-color: rgb(134, 134, 134);
  border-radius: 6px;
  background-clip: padding-box;
  border: 3px solid rgba(0, 0, 0, 0);
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}

.container > * {
  flex-grow: 1;
  flex-shrink: 0;
}
