table {
  width: 100%;
  border-radius: 5px;
  border-spacing: 0;
  padding-bottom: 0;
  // border-collapse: collapse;
}

// Table Header

thead {
  height: 40px;
  padding: 10px;
  color: #1a98a1;
}

th {
  padding: 10px;
}

table input {
  width: 16px;
  height: 16px;
}

thead th {
  background-color: var(--color-rows-dark-grey);
}

// Table Header Border

thead th:first-child {
  border-radius: 5px 0 0 5px;
  border: 1px solid var(--color-dark-grey);
  border-right: 0;
}

thead th:not(:first-child):not(:last-child) {
  border-top: 1px solid var(--color-dark-grey);
  border-bottom: 1px solid var(--color-dark-grey);
}

thead th:last-child {
  border-radius: 0 5px 5px 0;
  border: 1px solid var(--color-dark-grey);
  border-left: 0;
}

// Table Rows Border

tbody td:first-child {
  border-radius: 5px 0 0 5px;
  border: 1px solid rgba(255, 0, 0, 0);
  border-right: 0;
}

tbody td:not(:first-child):not(:last-child) {
  border-top: 1px solid rgba(255, 0, 0, 0);
  border-bottom: 1px solid rgba(255, 0, 0, 0);
}

tbody td:last-child {
  border-radius: 0 5px 5px 0;
  border: 1px solid rgba(255, 0, 0, 0);
  border-left: 0;
}

// Table body

td {
  padding: 10px;
  color: var(--color-v-dark-grey);
}

tr:nth-child(even) {
  background-color: var(--color-rows-dark-grey);
}
