.outerWrapper {
  display: flex;
}

.wrapper {
  // border: 1px solid blue;
  width: fit-content;
  flex-grow: 1;
}

.outer {
  border: 3px solid black;
  background-color: rgb(194, 194, 194);
  border-radius: 10px;
  margin: 10px;
  margin-bottom: 20px;
  // width: 600px;
  // width: fit-content;
}

.outer:last-child {
  margin: 10px;
}

.innerWrapper {
  background-color: white;
  display: flex;
  border: 2px solid green;
  border-radius: 10px;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

.inner {
  // border: 1px solid red;
  margin: 10px;
  white-space: nowrap;
}

.foo {
  border: 1px solid black;
  border-radius: 10px;
  margin: 10px 10px 10px 0;
  padding: 10px;
  width: 150px;
}
