.Accordion {
  position: relative;
  flex-grow: 1;
  padding: 2px 10px 10px 10px;
  overflow: scroll;
  width: 100%;
}

.Accordion::-webkit-scrollbar {
  display: none;
}

[class*="tier-"] {
  margin: 10px 0;
}

[class*="tier-"]:last-child {
  margin-bottom: 0;
}

.item-name {
  height: var(--height-primary);
  overflow: hidden;
  cursor: pointer;
  border: 1px solid var(--color-item-border);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.267);
}

.item > .content {
  overflow: hidden;
  display: none;
}

.open > .content {
  display: block;
}

.item > .transitioning {
  transition: height 0.3s cubic-bezier(0.47, 1.64, 0.41, 0.8);
  display: block;
}

.tier-1 > .item-name {
  background-color: var(--color-bg-tier1);
  color: var(--color-f-tier1);
}

.tier-1 > .item-name > .icon:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.267);
}

.tier-2 > .item-name {
  background-color: var(--color-bg-tier2);
  color: var(--color-f-tier2);
}

.tier-3 > .item-name {
  background-color: var(--color-bg-tier3);
  color: var(--color-f-tier3);
}

.rot90 {
  transition: transform 0.07s linear;
}

.open > * > .rot90 {
  transform: rotate(90deg);
  transition: transform 0.07s linear;
}

.mai-chevron {
  transform: translateX(15%);
}
