.Accordion {
  display: flex;
  height: 100%;
}

.accordion {
  position: relative;
  flex-grow: 1;
  padding: 2px 10px 10px 10px;
  overflow: scroll;
  width: 100%;
}

.accordion::-webkit-scrollbar {
  display: none;
}

[class*="level-"] {
  margin: 10px 0;
}

[class*="level-"]:last-child {
  margin-bottom: 0;
}

.Item.content {
  border-radius: 10px;
}

.Item > .content {
  overflow: hidden;
  display: none;
  margin-left: -10px;
  margin-right: -10px;
  padding: 0 10px;
}

.Item.open > .content {
  display: block;
}

.Item.transitioning > .content {
  transition: height 0.3s cubic-bezier(0.47, 1.64, 0.41, 0.8);
  display: block;
}
