.AdviserDash {
  display: flex;
  flex-grow: 1;
}

.adviserDash {
  flex-grow: 1;
}

.adviserDash .content {
  line-height: 23px;
  color: red;
}

button {
  border: 1px solid var(--color-item-border);
  background-color: var(--color-bg-test1);
  border-radius: 10px;
  padding: 10px;
  color: var(--color-bg-darker3);
}

.addAdviserWizard {
  position: absolute;
  border: 1px solid var(--color-item-border);
  width: 400px;
  aspect-ratio: 1;
}
