.card {
  border-radius: 10px;
  background-color: white;
  overflow: hidden;
  margin-bottom: 20px;
  box-shadow: var(--shad-lighter);
}

.card:last-child {
  margin-bottom: 0;
}

.card .section .strip {
  display: flex;
  padding: 10px 10px 10px 20px;
  background-color: #e8f4f5;
  justify-content: space-between;
}

.card .section .title {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  color: #1a98a1;
  font-weight: bold;
  height: 35px;
}

.card .section .content {
  padding-top: 10px;
  color: #1a98a1;
  padding: 8px;
}

.card .section .group {
  background-color: #f3f3f3;
  margin-bottom: 16px;
  border-radius: 5px;
  padding: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  display: block;
}

.card .section .group:last-child {
  margin-bottom: 0;
}

.card .section .group2 {
  flex-grow: 1;
  padding: 8px;
}

.card .section form {
  display: flex;
  justify-content: space-between;
}
