.card {
  font-size: 1.4rem;
  width: 300px;
  height: 400px;
  border-radius: 10px;
  background-color: white;
  overflow: hidden;
  margin: 10px 10px;
  box-shadow: var(--shad-lighter);
  flex-grow: 1;
  flex-shrink: 0;
}

.card .title {
  background-color: #e8f4f5;
  padding: 20px;
  color: #1a98a1;
  font-weight: bold;
}

.card > .content {
  padding: 20px;
  padding-top: 10px;
  line-height: 23px;
  color: #1a98a1;
}
