.input-item label {
  display: inline-block;
  white-space: nowrap;
  margin-right: 10px;
}

.input-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  justify-content: space-between;
}

.input-item:last-child {
  margin-bottom: 0;
}

.input-item input:focus {
  outline: none;
}

.input-item input {
  border: 1px solid #dfdfdf;
  border-radius: 5px;
  padding: 5px;
  display: inline-block;
  color: #646464;
}
