.input-item label {
  display: inline-block;
  width: 150px;
}

.input-item {
  display: flex;
  align-items: center;
  margin: 10px 0px 10px 0;
}

.input-item input:focus {
  outline: none;
}

.input-item input {
  border: 1px solid #dfdfdf;
  border-radius: 5px;
  height: 2.2rem;
  padding: 5px;
  flex-grow: 1;
  display: inline-block;
  width: 50px;
  color: #646464;
}
