.nav {
  position: absolute;
  top: 0;
  display: flex;
  width: 100%;
  background-color: var(--color-bg-header);
  box-shadow: var(--shad-lighter);
  box-sizing: content-box;
  border-bottom: 1px solid var(--color-menu-border);
}

.nav > .header {
  background-color: var(--color-bg-header);
  padding: 10px;
  flex-basis: 250px;
  display: flex;
}

/*8888. d888888b d888888b  .o88b. db   dD db    db      d8b   db  .d8b.  db    db 
88'  YP `~~88~~'   `88'   d8P  Y8 88 ,8P' `8b  d8'      888o  88 d8' `8b 88    88 
`8bo.      88       88    8P      88,8P    `8bd8'       88V8o 88 88ooo88 Y8    8P 
  `Y8b.    88       88    8b      88`8b      88         88 V8o88 88~~~88 `8b  d8' 
db   8D    88      .88.   Y8b  d8 88 `88.    88         88  V888 88   88  `8bd8'  
`8888Y'    YP    Y888888P  `Y88P' YP   YD    YP         VP   V8P YP   YP    */
.nav.fixed {
  position: fixed;
  top: 0;
  transform: translateY(-100%);
}

.nav.fixed.locked {
  transform: translateY(0);
}

.nav.transition {
  transition: 0.3s ease;
}

.sticky-hidden {
  transform: translateY(-100%);
}
