.search {
  height: 38px;
  width: 250px;
  border-radius: var(--height-primary);
  background-color: var(--color-bg-white);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.267);
  border: 1px solid var(--color-grey-dark1);
}

.nav .search {
  padding-left: 6px;
}
