.SideMenu {
  flex-shrink: 0;
  transition: 0.3s cubic-bezier(0.47, 1.64, 0.41, 0.8);
}

.SideMenu.fullClose {
  width: 242px;
}

.SideMenu.partClose {
  width: 252px;
}

.SideMenu.hidden.fullClose {
  width: 0px;
}

.SideMenu.hidden.partClose {
  width: calc(var(--height-primary) + var(--pad) * 2);
}

.sideMenu {
  border-right: 1px solid var(--color-menu-border);
  background-color: var(--color-bg-sidemenu);
  position: fixed;
  top: 0;
  width: 252px;
  height: 100vh;
  box-sizing: content-box;
  z-index: 999;
  display: flex;
  flex-direction: column;
  transition: 0.3s cubic-bezier(0.47, 1.64, 0.41, 0.8);
  box-shadow: var(--shad-lighter);
  font-size: 1.2rem;
}

.SideMenu.fullClose .sideMenu {
  width: 242px;
}

.SideMenu.partClose .sideMenu {
  width: 252px;
}

.SideMenu.hidden.partClose .sideMenu {
  width: calc(var(--height-primary) + var(--pad) * 2);
}

.SideMenu.hidden.fullClose .sideMenu {
  width: 0px;
}

.menuHeader {
  box-shadow: var(--shad-lighter);
  border-bottom: 1px solid var(--color-menu-border);
}
